{% assign sorted_projects = site.projects | sort: 'number' %}
<section class="container-lg no-padding-for-smaller-devices">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      {% for project in sorted_projects %}
        <li data-target="#carouselExampleFade" data-slide-to="{{project.number}}" {% if project.number == 1 %}class="active"{% endif %}></li>
      {% endfor %}
    </ol>
    <div class="carousel-inner">
      {% for project in sorted_projects %}
        <div class="carousel-item {% if project.number == 1 %}active{% endif %}">
          <img src="{{project.cover.image}}" class="d-block w-100" alt="{{project.cover.alt}}">
        </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
