<section id="contact">
  <div class="row">
    <div class="col-lg-6" id="correspondance">
      <p>
        Peoples colony no. 2, Faisalabad
      </p>
      <p>
        <a href="mailto:info@example.com" class="text-dark text-decoration-none"><i class="far fa-envelope"></i> info@example.com</a>
      </p>
      <p>
        <a href="tel:03066666501" class="text-dark text-decoration-none">0306 6666501</a>
      </p>
    </div>
    <div class="col-lg-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d217897.55248143806!2d72.94921697927656!3d31.423788299028164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x392242a895a55ca9%3A0xdec58f88932671c6!2sFaisalabad%2C%20Punjab%2C%20Pakistan!5e0!3m2!1sen!2s!4v1598715497488!5m2!1sen!2s" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</section>
