/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 3rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

@media (max-width: 992px) {
  section.no-padding-for-smaller-devices {
    padding: 0;
  }
  .carousel-item {
    height: 20rem;
  }
  .carousel-item > img {
    height: 20rem;
  }
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
#projectsList .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
#projectsList h2 {
  font-weight: 400;
}
#projectsList .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
