body {
  padding-bottom: 3rem;
  color: #5a5a5a;
}

footer {
  margin-top: 3rem;
}

.social-icons a {
  margin-right: 10px;
  text-decoration: none;
  font-size: 50px;
}

.fa-whatsapp-square {
  color: #4ECC66;
}
.fa-whatsapp-square:hover {
  color: #128c7e;
}
